@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: #17162E;

    font-family: 'Kumbh Sans', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;

    padding: 3.875rem 6.75rem;
}

.titulo {
    color: #ffffff;

    font-size: 2.25rem;
    font-weight: 600;

    margin-bottom: 3rem;
}

.campo__busca { 
    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 634px;

    padding: 0 1.625rem;
    margin-bottom: 1.875rem;
    border-radius: .5rem;
}

.campo__busca input {
    font-family: 'kambh sans', sans-serif;

    background-color: transparent;
    color: #8A8A8A;

    display: block;
    width: 100%;
    height: 100%;

    border: none;
    padding: 1.5rem 0;
    outline: none;
}

.campo__busca img {
    font-size: 1.125rem;
}

.input__busca::placeholder {
    font-weight: 500;
    font-size: 1.125rem;
}

.favoritos-opt {
    color: #ffffff;

    font-weight: 600;

    display: flex;
    align-items: center;

    margin-bottom: 4rem;
    gap: .6875rem;

    user-select: none;
}

.filme__container {
    background-color: #1D1C3B;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.875rem;

    padding: 1.5rem 2.875rem;

    box-shadow: 0.3335185647010803px 0.24931815266609192px 2.4224610328674316px 0px #00000007;

    box-shadow: 1.4366953372955322px 1.0739859342575073px 4.567187309265137px 0px #0000000C;

    box-shadow: 3.4634618759155273px 2.5890731811523438px 7.6376953125px 0px #00000010;

    box-shadow: 6.567749977111816px 4.909649848937988px 12.837499618530273px 0px #00000013;

    box-shadow: 10.903491020202637px 8.150785446166992px 21.3701171875px 0px #00000016;

    box-shadow: 16.624616622924805px 12.42755126953125px 34.439064025878906px 0px #0000001A;

    box-shadow: 23.885059356689453px 17.85501480102539px 53.24785232543945px 0px #0000001F;

    box-shadow: 32.838748931884766px 24.548248291015625px 79px 0px #00000026;
}

.filme__esquerda {
    color: #ffffff;

    display: flex;
    align-items: center;

    gap: 4rem;
}

.filme__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.filme__info h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.filme__acoes {
    display: flex;
    align-items: center;
    gap: 2.8125rem;

    font-weight: 400;
}

.filme__avaliacao, .filme__favoritar {
    display: flex;
    align-items: center;
    gap: .9375rem;
}

.filme__description {
    color: #ACACAC;

    line-height: 2rem;

    font-size: 1.125rem;
    font-weight: 500;
    max-width: 600px;
}
